* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  .fondo_Principal {
    height: 160vh;
    background-image: url('../../public/paisaje.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }